//Ordered
.dialog {
  border: 2px solid $green;
  background-color: $black;
  color: $white;
  padding: 110px;

  .action-btn {
    background-color: $pink;
    color: $white;
  }

  .action-btn:hover {
    background-color: $green;
  }

 
}

//No ordered
.no-order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1.3em;
  width: 100%;

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 25px;
    color: $white;
    background-color: $green;
    padding: 50px 70px;
    border: 2px solid $pink;
    max-width: 600px;
    height: 200px;
  }
}
