.no-order{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $gray;
  min-width: 400px;
  height: 300px;
  border: 5px solid $pink;
  border-radius: 10px;
  margin: 50px 50px 0 50px;

  .text{
    font-size: 25px;
    color: $white;
    background-color: $black;
    padding: 50px;
    border: 2px solid $green;
  }
}