//PizzaOrder
.pizza-container {
@include displayFlex(column);
  background-color: $gray;
  border: 2px solid $green;
  box-shadow: 2px 4px 6px $black;
  width: 50%;
  margin-bottom: 50px;
  position: relative;

  .order-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    background-color: $dark-gray;
    height: 100px;
    border: 2px solid $green;
    padding: 10px;
    position: relative;
    width: 100%;
    position: absolute;
    top: 0;

    .loggo {
      width: 45px;
      height: 45px;
      outline: 1px solid $green;
      position: absolute;
      left: 20px;
      p {
        font-size: 9px;
      }
    }

    .order-header {
      @include displayFlexStandard();
      padding: 5px 30px;
      margin-left: auto;
      margin-right: auto;
      color: $white;
      box-shadow: 4px 4px 6px $green;
    }
  }

  .price-cartitem {
    text-align: end;
    margin-right: 1.3em;
    font-size: $second-font-size;
  }

  .order-btn-container {
   @include displayFlexStandard();

    .btn {
      background-color: $pink;
      border: 2px solid $black;
      margin: 100px 50px 0px 50px;
    }
    .btn:hover {
      background-color: $green;
    }

    .link {
      color: $white;
    }
  }
}
