.loggo {
  background-color: $green;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    transform: rotate(-45deg);
    p {
      font-family: cursive;
      margin: 0;
      text-align: center;
      color: $pink;
      font-size: 2rem;
      font-weight: 900;
    }
  }
}
